@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Krona+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-family: "Poppins";
}

body::-webkit-scrollbar{
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: black;
}

body::-webkit-scrollbar-track {
  background-color: white;
}

@media screen and (max-width: 768px) {
  *{
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  *::-webkit-scrollbar {
    display: none;
  }

}


header {
  position: fixed;
  height: 80px;
  width: 100%;
  z-index: 10000;
  font-family: "Poppins";
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  color: white;
  background-color: transparent;
  transition: 0.5s;
}
.header-bg {
  top: 0;
  backdrop-filter: blur(10px);
  height: 60px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.664);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
header p {
  padding-left: 120px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}
nav {
  position: absolute;
  right: 50px;
}
nav a {
  margin: 0 30px;
  color: black;
  text-decoration: none;
  transition-duration: 0.5s;
}
nav a:hover {
  color: gray;
}
header .nav-btn {
  padding: 20px;
  font-size: 20px;
  background: transparent;
  border: none;
  outline: none;
  color: black;
  cursor: pointer;
  visibility: hidden;
  opacity: 0;
}
@media only screen and (max-width: 1024px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
    z-index: 10000000;
  }
  header p {
    padding-left: 20px;
  }
  header nav {
    z-index: 10000000;
    position: fixed;
    z-index: 2;
    left: 0;
    font-weight: 500;
    font-size: 20px;
    top: 0;
    background-color: white;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: 1s;
    transform: translateX(-100%);
  }
  header .responsive-nav {
    transform: none;
  }
  header .nav-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}

#announcement .swiper {
  width: 100%;
  height: 500px;
}

#announcement .swiper-slide {
  font-size: 18px;
  height: 1000px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#tab .container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: fit-content;
  margin-top: 50px;
  border: none;
}

#tab .bloc-tabs {
  display: flex;
  justify-content: space-around;
}
#tab .tabs {
  padding: 15px;
  text-align: center;
  width: 50%;
  cursor: pointer;
  font-size: 25px;
  position: relative;
  outline: none;
  transition-duration: 0.5s;
}

#tab .active-tabs {
  background: white;
}

#tab .active-tabs::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 5px;
  background: rgb(0, 0, 0);
}

#tab button {
  border: none;
}
#tab .content-tabs {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#tab .content {
  background: white;
  padding: 30px;
  width: 60%;
  height: fit-content;
  display: none;
}
#tab .content h2 {
  padding: 0px 0 5px 0px;
}
#tab .content hr {
  width: 100px;
  height: 2px;
  background: #808080;
  margin-bottom: 5px;
}
#tab .content p {
  width: 100%;
  height: 100%;
}
#tab .active-content {
  display: block;
}

@media only screen and (max-width: 1100px) {
  #tab .tabs {
    padding: 0;
    font-weight: 500;
    font-size: 15px;
  }
  #tab .active-tabs::before {
    width: 60px;
    height: 3px;
  }
  #tab .content {
    width: 100%;
    height: fit-content;
  }
}
#tab ul li {
  text-decoration: crimson;
}
#achievements .item {
  display: block;
}
#achievements .item.mob {
  display: none;
}
#achievements .item.sm-mob {
  display: block;
}
#team .item {
  display: block;
}
#team .item.mob {
  display: none;
}
#team .item.sm-mob {
  display: none;
}
@media only screen and (max-width: 1182px) {
  .right {
    display: none;
  }
  #achievements .item.mob {
    display: block;
  }
  #achievements .item {
    display: none;
  }
  #team .item {
    display: none;
  }
  #team .item.mob {
    display: block;
  }
  #team .item.sm-mob {
    display: none;
  }
}
@media only screen and (max-width: 500px) {
  #team .item {
    display: none;
  }
  #team .item.mob {
    display: none;
  }
  #team .item.sm-mob {
    display: block;
  }
}
